.form {
  background: linear-gradient(145deg, #f5f2ff, #ffffff);
  width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px 15px;
  overflow: hidden;
  animation: fadeIn 0.6s ease-in;
  margin: 50px;
}
.form h1 {
  color: brown;
}
.form input {
  background-color: wheat;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.form button {
  background-color: brown;
  color: #ffffff;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.counter {
  background: linear-gradient(145deg, #f5f2ff, #ffffff);
  width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px 15px;
  overflow: hidden;
  animation: fadeIn 0.6s ease-in;
  margin: 50px;
}
.counter button {
  background-color: brown;
  color: #ffffff;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
